<!DOCTYPE html>
<html lang="uk">

    <head>
            <title>test case dev</title>
            <link rel="stylesheet" type="text/css" href="/styles/style.css">
    </head>


    <body >

        <div id="content-wrapper">
            {{#each blocks}}
                <div class="content-block">
                    <div class="header-wrapper">
                        <h3>{{this.title}}</h3>
                        <p>{{formatDateTime this.published 1}}</p>
                    </div>
                    <div class="image-wrapper">
                        <img src="{{this.img}}" alt="{{this.alt}}">
                    </div>
                    <div class="description-wrapper {{#if_even this.indexNum}}{{/if_even}}">
                        <p id="index">{{this.indexNum}}</p>
                        <p id="description">{{this.description}}</p>
                    </div>
                </div>
            {{/each}}
        </div>

    </body>

</html>