.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 15px;
}

.content-block {
    max-width: 400px;
}

img {
    margin: 0 auto;
    max-width: 400px;
    display: block;
}

.image-wrapper {
    margin: 0 auto;
}

.description-wrapper.even {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.description-wrapper.odd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0 15px;
}

#description {
    max-width: 350px
}

.content-block {
    margin: 0 auto;
}